

div {
    color: white;
    background-color: red;
    font-size: 32px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}



img {
    height: auto;
    width: 400px;
}